$primary: #884A39;
$primarylight: #C38154;
$white: #ffffff;
$primarylighter: #A7C6ED;
$secondary: #FFC26F;
$accent: #FFC26F;
$bg: #F0F0EF;
$bg1: #F0F0EF;
$line: #F0F0EF;
$dark: #231F20;
$green: #04AE3E;
