@use "./mediaquery";
@use "./variables";

.singleComponent {
  height: fit-content !important;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 2em;

  .chart {
    background-color: white;
    height: 100%;
    min-height: 250px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 1px 5px #60606010;
    padding: 1em;

    .tp {
      display: flex;
      justify-content: space-between;
    }

    h3 {
      color: gray;
      font-size: medium;
      margin-bottom: 1em;
      font-weight: 600;
    }

    .save {
      position: absolute;
      right: 16px;
      top: 16px;
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;

      * {
        cursor: pointer;
      }
    }
  }

  .top {
    display: grid;
    padding: 1em;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #60606010;

    .title {
      h3 {
        margin: 0.5em 0;
        color: $primary;
      }

      p {
        color: $bg;
      }
    }

    .midtop {
      background-color: $white;
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.5em;

      .itmbox {
        background: white;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #60606010;
        padding: 10px;

        h4 {
          color: $secondary;
          align-self: center;
          font-size: large;
          text-align: center;
          font-weight: 520;
          margin: 1em 0 1em 0;
        }

        h3 {
          color: $primary;
          align-self: center;
          font-weight: 500;
          font-size: x-small;
        }

        h6 {
          margin-top: 4px;
          color: $primarylight;
          align-self: center;
          font-size: small;
          font-weight: 400;
        }

        p {
          margin-top: 4px;
          color: $bg;
          align-self: center;
          font-size: x-small;
          font-weight: 400;
        }
      }
    }
  }
  .mid {
    .componentpies {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5em;
      margin: 1em 0 2em 0;
    }
  }

  .section {
    padding: 1em 0 1em;

    .sect-card {
      background-color: white;
      border-radius: 5px;
      position: relative;
      padding: 1em;
      margin-bottom: 2em;

      .head {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        .title {
          h3 {
            color: $primary;
            font-size: medium;
            margin-bottom: 5px;
            font-weight: 520;
          }

          p {
            color: gray;
            font-size: small;
            margin-bottom: 5px;
          }

          hr {
            color: #60606010;
            margin-bottom: 10px;
          }
        }

        .filter {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .fa {
            color: $primarylight;
          }
        }
      }

      .theads {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1em;

        .topright {
          display: grid;
          grid-template-columns: repeat(7, auto);
          gap: 1em;
          text-align: center;
        }

        p {
          cursor: pointer;
        }
      }

      .tbody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        background: white;
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 2em;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
        cursor: pointer;

        p {
          font-size: small;
        }

        .left {
          display: grid;
          grid-template-columns: 0.3fr 1fr;
          align-items: center;
          gap: 1em;

          .ind-code {
            text-align: center;
            border: 1px solid $secondary;
            color: $secondary;
            padding: 6px;
            border-radius: 5px;
          }

          .ind-desc {
            color: $accent;
            border-right: 1px solid $accent;
          }

          p {
            text-wrap: balance;
          }
        }

        .right {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          align-items: center;
          gap: 1em;

          p {
            cursor: pointer;
            color: $accent;
          }

          .badge {
            border-right: 1px solid $accent;
            border-left: 1px solid $accent;
            padding: 7px;
            width: 85px;

            p {
              background: $primarylighter;
              color: $secondary;
              text-align: center;
              padding: 2px;
              border-radius: 15px;
            }
          }

          .q4 {
            border-right: 1px solid $accent;
            padding: 7px;
            margin-left: -7px;
          }

          .achievement {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }
  }

  .bottom {
    height: 90vh;
    padding: 1em;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #60606010;
    display: grid;
    grid-template-rows: auto 100%;

    .tp {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      border-bottom: 1px solid gainsboro;

      .rt {
        text-align: right;

        button {
          background-color: white;
          border: 1px solid $primarylight;
          color: $primarylight;
          padding: 4px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  @include maxwidth(mobile) {
    .top {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    .pies {
      grid-template-columns: 1fr !important;
    }

    .bottom {
      grid-template-columns: 1fr !important;
    }

    .middle {
      grid-template-columns: 1fr !important;
    }
  }
}
